@import './resets';
@import './variables';
@import './mixins';
//
body {
    width: 100%;
    height: 520px;
    background-color: $primary-color;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    line-height: 1.8;
    h1 {
        @include flexCenter;
        padding: 20px;
        font-size: 45px;
        color: $secondary-color;
        text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
        font-family: Impact, 'Arial Narrow Bold', sans-serif;
        font-weight: lighter;
    }
    .container {
        @include flexCenter;
        #response {
            display: flex;
            flex-direction: column;
            font-size: 1.2rem;
            font-weight: 550;
            padding: 3rem;
            margin: 3rem auto 3rem auto;
            background-color: $secondary-color;
            color: $font-color;
            .ico {
                width: 50vw;
                display: flex;
                justify-content: space-between;
                line-height: 2rem;
                margin-right: 0.5rem
            }
        }
    }
}

#mapid {
    @include flexCenter;
    margin: 15px;
    height: 270px;
    background-color: $secondary-color;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#form {
    @include flexCenter;
    #search-bar {
        @include flexCenter;
        width: 120px;
        height: 30px;
        padding: 15px;
        margin: 10px;
        border: 2px solid black;
        border-radius: 3px;
    }
    #send-btn {
        @include flexCenter;
        width: 70px;
        height: 40px;
        padding: 15px;
        margin: 10px;
        border-radius: 5px;
        font-size: $font-size;
        font-weight: bold;
        border: 1px solid black;
        background-color: $secondary-color;
        color: $font-color;
    }
    #send-btn:hover {
        background-color: $hover-color;
        cursor: pointer;
        transition: 0.4s ease-in-out;
    }
}

.geo-btn {
    @include flexCenter;
    width: 70px;
    height: 40px;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid black;
    background-color: $secondary-color;
    color: $font-color;
}

.geo-btn:hover {
    background-color: $hover-color;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}