$font-size: 1rem;
$font-color:lch(53 105 40);
@import "~bootstrap/scss/bootstrap";
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background-color: chocolate;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.8;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 45px;
    color: $font-color;
}

.search-box {
    display: flex;
    justify-content: space-between;
    background-color: cornsilk;
    font-size: 20px;
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
}

.send-btn {
    display: flex;
    justify-content: space-between;
    padding: 2px 15px;
    border-radius: 15px;
    background: lightgrey;
}

.img {
    display: flex;
    justify-content: center;
    padding: 25px;
    border-radius: 15px;
}